* {
    margin: 0px;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    font-family: 'Roboto';font-size: 22px;
}

h1{
    font-size: 5rem;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.swiper-button-prev {
    width: auto;
    height: auto;
    color: #e6e6e6;
    font-size: 2.35em;
    background-image: none;
}
.swiper-button-next, .stage-slider .swiper-button-prev {
    width: auto;
    height: auto;
    color: #e6e6e6;
    font-size: 2.35em;
    background-image: none;
}
.swiper-slide a{
    font-weight: 300;
}
.swiper-slide div>p{
    font-size: 1rem;
    font-weight: 300;
}
.swiper-slide div a h3{
    font-size: 1.8rem;
    font-weight:200;
}
.swiper-slide div a>p{
    font-weight: 200;
}
.nav-container {
    height: 7.5625rem;
    background-color: white;
}
.light-gray-color{
    color: rgba(0,135,108,0.9);
}
.buttons-wrapper a:hover h3, .buttons-wrapper a:hover p{
    text-decoration: underline;
}
.section_one h1{
    font-size: 5rem;
}
.section_one h1:after{
    content: '';
    display: block;
    width: 10em;
    max-width: 100%;
    margin-top: 0.1em;
    border-bottom: 0.3125rem solid #00876c;
}


.section_one p:after{
    content: "\e900";
    font-family: "kit-icons";
    display: inline-block;
    margin-left: 5px;
    font-size: 0.7em;
    font-weight: 300;
    -webkit-transition: -webkit-transform .2s;
    transition: -webkit-transform .2s;
    -o-transition: transform .2s;
    transition: transform .2s;
    transition: transform .2s, -webkit-transform .2s;
    will-change: transform;
}

.section_one .slider-buttons{
    background: rgba(0,135,108,0.9);
}
.buttons-wrapper a{
    padding: 0.8em 0.85em 0.65em;
  
}
.buttons-wrapper a{
    width: 48%;
}
.buttons-wrapper h3{
    font-size: 1.5em;
    font-weight: 300;
    line-height: 1.23333;
}
.buttons-wrapper a p{
    margin-top: 0.95em;
    font-size: 0.8em;
}
.buttons-wrapper p:after{
    content: "\e900";
    font-family: "kit-icons";
    display: inline-block;
    margin-left: 5px;
    font-size: 0.7em;
    font-weight: 300;
    -webkit-transition: -webkit-transform .2s;
    transition: -webkit-transform .2s;
    -o-transition: transform .2s;
    transition: transform .2s;
    transition: transform .2s, -webkit-transform .2s;
    will-change: transform;
}
.slider-2 .buttons-wrapper a{
    width: 40%;
}
.slider-2 .buttons-wrapper a:first-child{
    width: 55%;
}
.black-section {
    justify-content:space-between;
    
}

.black-section .slider-buttons {
    font-family: roboto;
    background-color: transparent;
    width: 31%;
    text-transform: uppercase;
    font-weight: 300;
    border: 3px solid white;
}



.black-section form{
    width: 31%;
}
.black-section form input{
    min-width: 100%;
    color: white
}

.black-section form button{
    position: absolute;
    top: 50%;
    right: 1.25rem;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background-color: transparent;
    outline: none;
}

.section_two>h1, .section_three>h1{
    font-size: 2.925rem;
    line-height: 1.18;
    font-weight: 500;
    color: #404040;
}
.section_two>h1:after{
    content: '';
    display: block;
    width: 6.25rem;
    max-width: 100%;
    margin-top: 0.15em;
    border-bottom: 0.3125rem solid #00876c;
    overflow: hidden;
}

.section_two .single-news h3{
    color: #404040;
    font-weight: 700;
    font-size: 1.3rem;
}
.section_two .single-news p{
    font-weight: 300;
    font-size: 1rem;
}

.three-column-section .single-news{
    height:450px;
}

.three-column-section .single-news h3{
    text-shadow: 0 0 8px rgb(0 0 0);
    color: #fff;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1.1;
}

.three-column-section .single-news h3:after{
    content: '';
    display: block;
    width: 5rem;
    max-width: 100%;
    margin-top: 0.05em;
    border-bottom: 0.3125rem solid #fff;
}

.three-column-section .single-news p{
    font-size: 1.125rem;
    color: #fff;
    margin-bottom: 30px;
}

.three-column-section .single-news a{
    margin-top: 2.25rem;
    background-color: #00876c;
    color:white;
    padding: 0.625rem 0.9375rem;
    text-decoration: underline;
}



.three-column-section .single-news a:hover{
    background-color: #007755;
}


.two-column-section a{
    background-color: #00876c;
    height:fit-content;
}

.two-column-section a h3{
    font-size: 1.785rem;
    line-height: 1.2;
    text-decoration: underline;
    font-weight: 700;
}

.two-column-section a p{
    font-size: 1.785rem;
    font-weight: 200;
    line-height: 1.2;
}




.section_three div div img{
    height: 387px;
    object-fit: cover;
    object-position: top;
}

.section_three div div a{
    color: #404040;
}

.section_three div div a:hover{
    color: #00876c;
}
.section_three div div a h4{
    font-size: 1.575rem;
    line-height: 1.2;
    color: inherit;
}
.section_three div div a h4:hover{
    color: inherit;
}

.section_three div div a span{
    color: inherit;
    font-size: 0.9rem;
    font-weight: 600;
    
}
.section_three div div a h4:hover{
    color: inherit;
}
.section_three div div a .description{
    font-size: 1rem;
    font-weight: 200;
}

.calender-container a{
    font-size: 1.125rem;
    font-weight: 700;
    color: #00876c;
}
.calender-container a:after{
    content: "";
    display: inline-block;
    margin-left: 0.625rem;
    font-family: "kit-icons";
    font-size: 0.9em;
    font-weight: 300;
}

.section_three  .col-1:hover img{
    transform: scale(1.008);
    transition-property: transform, -webkit-transform;
    transition-duration: 0.3s, 0.3s;
    transition-timing-function: ease, ease;
    transition-delay: 0s, 0s;
}
.section_three  .col-1:hover a{
    color: #00876c;
}

.stat-row div:first-of-type{
    color: #404040;
    background-color: #d9d9d9;
    border-left: 4px solid #02876b;
    font-weight: 700;
}
.stat-row:hover div:first-of-type{
    color: #fff;
    background-color:#02876b;
    cursor: pointer;
    
}
.stat-row .col-right{
    background-color: #f2f2f2;
    padding: 10px;
}
.col-right h5{
    font-size: 1.25rem;
    line-height: 1.2;
    font-weight: 700;
    color: #404040;

}
.col-right p{
    color: #404040;
    margin-top: 8px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 300;
}
footer{
    background-color: #f2f2f2;
}
.footer-link{
    color:#00876c;
    font-size: 14px;
    text-decoration: underline;
}
@media only screen and (max-width: 600px) {
    .two-column-section a h3{
        font-size: 1.085rem;
       
    }
    .two-column-section a p{
        font-size: 1.085rem;
        font-weight: 200;
        line-height: 1.2;
    }
    .section_three div div img{
        height: 230px;
    }
    .section_three div div a h4{
        font-size: 1.085rem;
        font-weight: 700;
    }
    .section_two>h1, .section_three>h1{
        font-size: 2.5rem;
        font-weight: 500;
    }
    .section_three div div a span{
        font-size: 0.985rem;
        font-weight: 500;
    }
    .section_three .description{
        font-size: 0.885rem;
        font-weight: 300;
    }
    .stat-row div:first-of-type{
        font-size: 1rem;
    }
    .black-section{
        gap: 10px;
    }
    
    .section_one p:after{
        display: none;
    }
    .swiper-slide {
        height: 400px;
    }
    .section_one h1{
        font-size: 2.35rem;
        /* line-height: 3.08rem; */
    }
    .section_one .slider-buttons{
        background: transparent;
        font-size: 18px;
        width: 100%;
        margin-block: 0px;
        padding-block: 5px;
        padding-inline: 0px;
    }
    .swiper-slide div a h3{
        font-size: 0.9rem;
    }
    .black-section .slider-buttons{
        width: 50%;
        font-size: 0.9rem;
        background: black;
        padding-inline: 8px;
    }
}